<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #accept {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            transition: background-color 0.3s;
            background-color: #782ef8;
            color: white;
            border: none;
        }
    
        /* Media query to adjust button width on small screens */
        @media (max-width: 600px) {
            #accept {
                display: block;
                width: auto;
            }
        }
    </style>
</head>
<body>
    <div style="text-align: center; background-color:#e5daf6; margin:auto; height:100%">
        <h2>AUTO DIGEST</h2>
        <div style="margin:auto; height:80%;">
            <h3>{{ownerEmail}} has sent you a request to "{{permission}}" the list: "{{listName}}" on {{company}}</h3>
            <p>By clicking the "Accept" button, you will be redirected to {{company}}</p>
            <p> At {{company}}, you can signup using your google credentials to accept the request</p>
            <a href={{accept}} id="accept">Accept</a>
        </div>
    </div>
</body>
</html>
